# Overview 
- datetime module in python provides classes, functions and other abstractions to manipulate dates and times in both simple and complex ways.  
- part of the python's standard library
- widely used for tasks like profiling, timestamping, scheduling and time calculations.

### Types of datetime objects based on timezone information
- **Naive**: Doesn't contain information about the timezone associated with the time object

- **Aware**: contains information about which timezone is the given time associated with. It also allows for required conversions and calculations.

### Handling naive datetime objects

`datetime.date()`: used to create an object that represents a date

In [3]:
import datetime
date= datetime.date(2025,5,14) #creates a date object in format ``YYYY-MM-DD`` by default 
print(date)

2025-05-14

In [13]:
todaydt=datetime.date.today() #returns today's date 
print(todaydt)

2025-04-23

**printing the day of the week associated with the date**

In [ ]:
print(todaydt.weekday())# Monday=0 ... Sunday=6

2

In [16]:
print(todaydt.isoweekday())# Monday=1 ... Sunday=7

3

``datetime.timedelta()``: used to create an object that represents the difference between two datetime objects

In [18]:
newdt=todaydt+datetime.timedelta(days=5) 
print(newdt-datetime.timedelta(days=10))

2025-04-18

In [34]:
interval=datetime.date(2025,6,23)-datetime.date(2025,6,14)
type(interval)

datetime.timedelta

In [12]:
days=interval.total_seconds()//86400
hours=interval.total_seconds()//3600
mins=interval.total_seconds()//60

In [32]:
print(f"""total days:{int(days):>11}
total hours: {int(hours):>11}
total minutes: {int(mins):>11}
sparing seconds: {interval.seconds:>5}
sparing microseconds:{interval.microseconds}""")

total days:          9
total hours:         216
total minutes:       12960
sparing seconds:     0
sparing microseconds:0

`datetime.time()`: used to create an object which represents time as in the combination of Hours, minutes, seconds and milliseconds.

In [39]:
print(datetime.time(11, 5, 57, 768593))

11:05:57.768593

`datetime.datetime()`: used to create an object that represents the combination of both date and time
- positional arguments are the in decreasing chronological order of time units as in Years> months> days> hours> minutes> secs> microseconds

In [41]:
timeinstance=datetime.datetime(2002, 5, 14, 8, 20)
print(timeinstance)

2002-05-14 08:20:00

In [44]:
print(timeinstance+datetime.timedelta(days=14, minutes=35, seconds=15))

2002-05-28 08:55:15

### Converting from one datetime object to another

**extracting a date or time object from datetime object**

In [74]:
print(f"date= {timeinstance.date()} and time= {timeinstance.time()}")
print(timeinstance)

date= 2002-05-14 and time= 08:20:00
2002-05-14 08:20:00

### Creating timezone aware datetime objects

In [75]:
import pytz
dt= datetime.datetime(2025, 5, 13, 18,30,45, tzinfo=pytz.UTC)
print(dt)

2025-05-13 18:30:45+00:00

In [76]:
utcnow=datetime.datetime.now(tz=pytz.UTC)
print(utcnow)

2025-04-24 21:50:26.462660+00:00

`datetime.datetime.astimezone()`: used to convert an aware datetime object from one timezone value to another timezone value

In [77]:
istnow=utcnow.astimezone(pytz.timezone("Asia/Kolkata"))
print(istnow)

2025-04-25 03:20:26.462660+05:30