# Overview 
- datetime module in python provides classes, functions and other abstractions to manipulate dates and times in both simple and complex ways.  
- part of the python's standard library
- widely used for tasks like profiling, timestamping, scheduling and time calculations.

### Types of datetime objects based on timezone information
- **Naive**: Doesn't contain information about the timezone associated with the time object

- **Aware**: contains information about which timezone is the given time associated with. It also allows for required conversions and calculations.

In [ ]:
from datetime import datetime, time, date, timedelta
from pytz import timezone

# Handling naive datetime objects

### Creating naive datetime objects
`datetime.date()`: used to create an object that represents a date

In [26]:
naive_date= date(2025,5,14) #creates a date object in format ``YYYY-MM-DD`` by default 
print(naive_date)

2025-05-14

In [27]:
todaydt=date.today() #returns today's date 
print(todaydt)

2025-04-25

**printing the day of the week associated with the date**

In [28]:
print(todaydt.weekday())# Monday=0 ... Sunday=6

4

In [29]:
print(todaydt.isoweekday())# Monday=1 ... Sunday=7

5

``datetime.timedelta()``: used to create an object that represents the difference between two datetime objects 
- used to perform datetime arithmetic

In [30]:
newdt=todaydt+timedelta(days=5) 
print(newdt-timedelta(days=10))

2025-04-20

In [31]:
interval=date(2025,6,23)-date(2025,6,14)
type(interval)

datetime.timedelta

In [32]:
days=interval.total_seconds()//86400
hours=interval.total_seconds()//3600
mins=interval.total_seconds()//60

In [33]:
print(f"""total days:{int(days):>11}
total hours: {int(hours):>11}
total minutes: {int(mins):>11}
sparing seconds: {interval.seconds:>5}
sparing microseconds:{interval.microseconds}""")

total days:          9
total hours:         216
total minutes:       12960
sparing seconds:     0
sparing microseconds:0

`datetime.time()`: used to create an object which represents time as in the combination of Hours, minutes, seconds and milliseconds.

In [34]:
naive_time=time(11, 5, 57, 768593)
print(naive_time)

11:05:57.768593

`datetime.datetime()`: used to create an object that represents the combination of both date and time
- positional arguments are the in decreasing chronological order of time units as in Years> months> days> hours> minutes> secs> microseconds

In [35]:
naive_dtime=datetime(2002, 5, 14, 8, 20)
print(naive_dtime)

2002-05-14 08:20:00

In [36]:
print(naive_dtime+timedelta(days=14, minutes=35, seconds=15))

2002-05-28 08:55:15

### Converting from one datetime object to another

**extracting a date or time object from datetime object**

In [37]:
print(f"date= {naive_dtime.date()} and time= {naive_dtime.time()}")
print(naive_dtime)

date= 2002-05-14 and time= 08:20:00
2002-05-14 08:20:00

In [50]:
print(f"Combining date and time information to make a datetime instance\n  date  = {naive_date}\n+ time  = {naive_time}\ndatetime= {datetime.combine(naive_date,naive_time)}")

Combining date and time information to make a datetime instance
  date  = 2025-05-14
+ time  = 11:05:57.768593
datetime= 2025-05-14 11:05:57.768593

# Handling aware datetime objects

### Creating timezone aware datetime objects

In [ ]:
dt= datetime(2025, 5, 13, 18,30,45, tzinfo=timezone("UTC"))
print(dt)

2025-05-13 18:30:45+00:00

In [39]:
utcnow=datetime.now(tz=timezone("UTC"))
print(utcnow)

2025-04-25 06:39:44.247023+00:00

`datetime.datetime.astimezone()`: used to convert an aware datetime object from one timezone value to another timezone value

In [40]:
istnow=utcnow.astimezone(timezone("Asia/Kolkata"))
print(istnow, "\n Timezone name:", istnow.tzinfo)

2025-04-25 12:09:44.247023+05:30
 Timezone name: Asia/Kolkata

`datetime.datetime.replace()`: assigns a timezone to a naive datetime object

In [41]:
dtime=datetime(2024, 1, 18, 10, 15, 45, 986745)
dtime.replace(tzinfo=timezone("Asia/Kolkata"))

datetime.datetime(2024, 1, 18, 10, 15, 45, 986745, tzinfo=<DstTzInfo 'Asia/Kolkata' LMT+5:53:00 STD>)

`pytz.timezone().localize()`: assigns the timezone obejct as timezone information to the datetime object passed as argument

In [42]:
WETtime=timezone("WET").localize(datetime(2003, 4, 12, 5, 20, 17, 673438))
print(WETtime,"\nTimezone name:" ,WETtime.tzinfo)

2003-04-12 05:20:17.673438+01:00
Timezone name: WET

## Formatting and parsing datetime information
**All time format codes**:
|format code| meaning | example |
|---|---|---|
|`%a`| Abbreviated weekday name| Sun, Mon|
|`%A`| Full weekday name| Sunday, Monday|
|`%w`| Weekday as decimal number | 0...6 |
|`%d`| day of the month as zero-padded decimal|01,02...,31|
|`%-d`| day of the month as decimal number |1, 2,..., 31|
|`%b`| Abbreviated month name | Jan, Feb |
|`%m`|month as a zero padded decimal num|1, 2,..., 12|
|`%-m`| month as a decimal num|1,2,..,12|
|`%B`|Full month name|January, February, ..., December |
|`%y`|year without century as zero padded decimal number|00,01,...,99|
|`%-y`| yearr without century as a decimal number| 0,1,...,99|
|`%Y`|year with century as a decimal number|1900, 1901 etc.|
|`%H`|hour as a zero padded decimal number|01, 02, ..., 24|
|`%-H`|hour as a decimal number|1,2,...,24|
|`%I`|hour as a zero padded decimal num|01, 02, ..., 12|
|`%-I`| hour as a decimal num|1,2,...,12|
|`&p`|locale's AM or PM| AM, PM |
|`%M`| minute as a zero padded decimal num|01,02,...,59|
|`%-M`| minute as a decimal num|1,2,...59|
|`%S`|second as a zero padded decimal num|01,02,...,59|
|`%-S`|second as a decimal number|1,2,...59|
|`%f`|microsecond as a zero padded decimal num|000000, 000001, ..., 999999|
|`%z`|UTC offset in the form +HHMM or -HHMM|+0530, +1100|
|`%Z`|Time zone name |UTC, Asia/Kolkata, US/Mountain|

`datetime.datetime.strptime(string, format)`: converts date and time information provided as a string to `datetime` object with help of given format

In [53]:
datetime.strptime("2025-04-23", "%Y-%m-%d")

datetime.datetime(2025, 4, 23, 0, 0)

`datetime.datetime.strftime(format)`: converts a `datetime` object to date and time information represented as a string using the given format

In [44]:
naive_time.strftime("%H: %M: %S")

'11: 05: 57'

# Tactical uses of datetime module in coding

### Code profiling
- `datetime.now()` function can be use to keep track of execution time of a piece of code

In [87]:
start=datetime.now()
for i in range(1_000_000_000):
    pass
end= datetime.now()
elapsed=end-start
print(f"time taken to execute: {int(elapsed.total_seconds()//60)} mins, {int(elapsed.total_seconds()%60)} secs, {elapsed.microseconds} ms")

time taken to execute: 0 mins, 41 secs, 432435 ms

### Timestamping logs or events

In [64]:
print(f"[{datetime.now()}] HTML get request has been recieved.")

[2025-04-25 15:33:02.756804] HTML get request has been recieved.

### Jumping to a date in past or future:

In [65]:
tomorrow = datetime.now() + timedelta(days=1)
print("Tomorrow:", tomorrow)

Tomorrow: 2025-04-26 15:36:26.123352

### Calculating time left in commencement of an event

In [71]:
till_bday= date(2025,5,14)-date.today() 
print(f"time left for birthday: {till_bday.days}")

time left for birthday: 19

In [76]:
age= date.today()-date(2013,12,16)
print(f"age of that kid: {int(age.days/365.25)} years, {age.days%365.25} days")

age of that kid: 11 years, 130.25 days

In [86]:
next_tuesday=7- date.today().isoweekday() +2
print(f"next tuesday will occur in {next_tuesday} days including today")

next tuesday will occur in 4 days including today

### Comparing dates

In [78]:
deadline = date(2025, 4, 30)
if date.today() > deadline:
    print("Deadline passed.")
else:
    print("Deadline not passed")

Deadline not passed

In [92]:
type(datetime(2025,3,21).year)

int

### Counting a specific weekday in a month

In [2]:
from countweekday import count_weekday_in_month
count_weekday_in_month(2025,12,"Sun")

4