# Overview
**A set is a built in container data type in python**

It is an 
- immutable: the value of elements can't be changed but the elements can be added or removed
- unordered: the elements doesn't have any fixed order
- unindexed: the elements can't be accessed using indices
- non-redundant: doesn't allow duplicates

collection of elements.

## Creating a set
- It has a highly optimized method for checking whether a specific element is contained in the set
- An empty set can simply be defined using the set() or declared using empty curly braces "{}"
- set elements are arranged in an alphanumeric order by default

In [87]:
my_set = {1,2,3,7}

In [88]:
type(my_set)

set

In [89]:
cpy_my_set=my_set.copy()
cpy_my_set

{1, 2, 3, 7}

## Adding elements to the set

In [90]:
my_set.add("white")

In [91]:
my_set.update({7.6,54,"orange car"}) #adds multiple items

In [92]:
my_set

{1, 2, 3, 54, 7, 7.6, 'orange car', 'white'}

## Removing items from a set

In [93]:
my_set.remove(70.584)

KeyError: 70.584

In [94]:
my_set.remove("khatti tofi")

KeyError: 'khatti tofi'

In [95]:
my_set.discard(7)

In [96]:
my_set.discard('khati tofi')

In [97]:
poped=my_set.pop() #removes random item from set

In [98]:
poped #pop() returns the element removed

1

In [99]:
my_set

{2, 3, 54, 7.6, 'orange car', 'white'}

In [100]:
empty={89,90,12,31}.clear()
type(empty)

NoneType

In [101]:
del empty
print(empty)

NameError: name 'empty' is not defined

## Joins on sets

In [102]:
set1={12,31,86,71,74}
set2={54,18,12,86,74}
set3={89,77,45,69,54}
set4={77,69,71,86,55}

In [103]:
combo=set1.union(set2,set3,set4) #doesn't change the original set 
combo

{12, 18, 31, 45, 54, 55, 69, 71, 74, 77, 86, 89}

In [104]:
combo2=set1|set2|set4|{42,29}
combo2

{12, 18, 29, 31, 42, 54, 55, 69, 71, 74, 77, 86}

In [105]:
comboo=set1.union([90.8,67.2])
comboo

{12, 31, 67.2, 71, 74, 86, 90.8}

In [106]:
set1|[21.9,13.8] #only the union func can do this

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [107]:
aset={13,41,55,62}
aset.update(set2) #changes the original set
print(aset)

{41, 74, 12, 13, 18, 54, 55, 86, 62}

In [108]:
common1_2=set1.intersection(set2)
common1_2 # doesn't change the original set

{12, 74, 86}

In [109]:
A={"ion","Electron","Proton","Neutron","Lepton"}
A.intersection_update({"Electron","Proton","Neutron","Higgs boson","photon"})
A #changes the original set

{'Electron', 'Neutron', 'Proton'}

In [110]:
combine=set1&set2&set4
combine

{86}

In [111]:
diff=set1-set2
diff

{31, 71}

In [112]:
diff0=set1.difference(set2)
diff0

{31, 71}

In [113]:
setA={45.6,76.90,"i","<3","u"}
setA.difference_update({45.6,76.90,88.67,32})
print(setA) #changes the original set

{'<3', 'u', 'i'}

In [114]:
symmdif1=set2.symmetric_difference(set4)
symmdif1

{12, 18, 54, 55, 69, 71, 74, 77}

In [115]:
symmdif=set1|set2
symmdif

{12, 18, 31, 54, 71, 74, 86}

In [116]:
symmdifup={"right","left","up","down"}
symmdifup.symmetric_difference_update({"right","left","front","back"})
symmdifup

{'back', 'down', 'front', 'up'}

## removing duplicates from a list

In [117]:
duplicated=[11,22,31,11,22,31,31,11,66]
set(duplicated)

{11, 22, 31, 66}

## Accessing elements of a set:

In [118]:
sum=0
for element in my_set:
    sum+=element
print(sum)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

# Frozen set

- A built-in container data type in Python that represents an immutable version of a set. 
- Its characteristics are same as that of a set but the elements can't be added or removed. 
- It can only be used for accessing related purposes

It can only be created using the frozenset function by passing any sequence of elements in the arguments

In [119]:
readonly=frozenset([1,"A",23,11.5,None, True])
print(readonly)

frozenset({None, 1, 'A', 11.5, 23})

In [120]:
type(readonly)

frozenset